---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<div class="about-page-background">
  <h2>Key Milestones ...</h2>
  <h3>2024 UNICC x Columbia Thinkathon Competition</h3>
  <p>New York, NY | April 2024</p>
  <ul>
    <li>Selected as a Top 5 Finalist in the 2024 Global Innovation Challenge - Digital Diplomacy, held by the United
      Nations International Computing Centre (UNICC) and Columbia University</li>
  </ul>
  <h3>Defense Security Agency (Military)</h3>
  <p>Seoul, South Korea | August 2017 - June 2019</p>
  <ul>
    <li>Served as a Signals Intelligence Officer and English Interpreter, facilitating collaborations on signal
      intelligence and antenna technologies with General Dynamics & Espy Corporation</li>
    <li>Recognized with a Letter of Appreciation from the National Security Agency (NSA) for enhancing team
      comprehension of complex communications systems</li>
  </ul>
</div>

<div class="about-page-background">
  <h1>Professional Experience</h1>
  <h2>Xeward, Inc. — New York, NY, USA</h2>
  <h3>Founder & Full-Stack Engineer</h3>
  <p>May 2023 - Present</p>
  <ul>
    <li>Led product ideation to launch of Surgg, a multi-platform entertainment news app, garnering 3.5K+ social
      followers and 60+ iOS/Android downloads, showcasing successful user acquisition strategies.</li>
    <li>Managed end-to-end development, from UI/UX design using modern frameworks to backend server setup and
      maintenance.</li>
    <li>Integrated AdMob and AdSense into mobile and web platforms, offsetting $1K/month in server costs through ad
      revenue to achieve more sustainable operations and explore scalable monetization strategies.</li>
  </ul>
  <h2>humusOn (<a href="https://humuson.com" target="_blank">Marketing Automation Company</a>) — Seoul, South Korea</h2>
  <h3>Data Analyst Intern</h3>
  <p>Jun 2022 - Aug 2022</p>
  <ul>
    <li>Engineered automation protocols and API integrations, bolstering CRM effectiveness. Utilized Python and
      Scikit-learn to build ML models for large datasets, and leveraged Tableau for customer demand forecasting and
      statistical reporting.</li>
    <li>Collaborated with cross-functional teams to identify opportunities for process optimization and developed
      data-driven solutions to enhance marketing strategies.</li>
  </ul>
  <h2>Witchcompany (<a href="https://team.witchcompany.io/" target="_blank">Blockchain Startup</a>) — Seoul, South Korea
  </h2>
  <h3>Software Engineering Intern</h3>
  <p>Jun 2021 - Aug 2021</p>
  <ul>
    <li>Enhanced UX by integrating decentralized applications (DApps) with the Ethereum blockchain and developing secure
      smart contracts using Solidity.</li>
    <li>Contributed to the development of a blockchain-based platform, focusing on improving scalability, security, and
      user adoption.</li>
  </ul>
  <h2>Upcoming Startup — Seoul, South Korea</h2>
  <h3>Front-End Development Intern</h3>
  <p>Jun 2020 - Aug 2020</p>
  <ul>
    <li>Gained extensive knowledge of Model-View-Controller (MVC) architecture through hands-on experience with
      Android/iOS Swift and Full Stack development workshops.</li>
    <li>Collaborated with the development team to create responsive and user-friendly interfaces for mobile and web
      applications.</li>
  </ul>

  <h2>Ministry of National Defense — Seoul, South Korea</h2>
  <h3>Military Interpreter | Squad Leader</h3>
  <p>Aug 2017 - Jun 2019</p>
  <ul>
    <li>Translated between Defense Security Agency researchers and General Dynamics & Espy Corp. technicians.</li>
    <li>Received <a href="https://github.com/JasonHJJin/etc/blob/main/letter_of_appreciation.pdf" target="_blank">Letter
        of Appreciation</a> from the National Security Agency.</li>
  </ul>



  <h2><br><br></h2>
  <h1>Certifications</h1>
  <h2>Bloomberg Market Concepts — New York, NY</h2>
  <h3>Personal Project | Credential ID: jZC8zQeR3FmDy6Dsdcopcuhn</h3>
  <p>Apr 2023 - July 2023</p>
  <ul>
    <li>Credential URL: <a href="https://portal.bloombergforeducation.com/certificates/jZC8zQeR3FmDy6Dsdcopcuhn"
        target="_blank">Bloomberg Market Concepts Certificate</a></li>
  </ul>

  <h2>Web Development Bootcamp — New York, NY</h2>
  <h3>Personal Project | Credential ID: UC-6e1e772f-7e8d-46d7-9e22-d9bb033cc749</h3>
  <p>Jan 2023 - Apr 2023</p>
  <ul>
    <li>Certificate URL: <a href="https://www.udemy.com/certificate/UC-6e1e772f-7e8d-46d7-9e22-d9bb033cc749/"
        target="_blank">Web Development Bootcamp Certificate</a></li>
  </ul>

  <h2>Machine Learning for Finance — New York, NY</h2>
  <h3>Group Project</h3>
  <p>Jan 2023 - May 2023</p>
  <ul>
    <li>Implemented LSTM and FinBERT in TensorFlow and PyTorch for sentiment analysis of financial news, integrating
      insights into a stock market strategy.</li>
    <li>Preprocessed large financial datasets with Python, Pandas, NumPy, and scikit-learn, and performed text analysis
      using NLTK and custom tools.</li>
    <li>Project Link: <a href="https://github.com/JasonHJJin/etc/blob/main/Sample%20Project%20(Finance).pdf"
        target="_blank">Machine Learning for Finance Project</a></li>
  </ul>

  <h2><br><br></h2>
  <h1>Education</h1>
  <h2>Columbia University in the City of New York <br>(B.S. in Computer Engineering)</h2>
  <h3>Some coursework include</h3>
  <ul>
    <li><strong>From Algorithm to Development</strong>
      <ul>
        <li>Final Group Project | <a href="https://github.com/JasonHJJin/algorithm_to_dev/tree/main/FinalProject">Sudoku
            Solver</a>; Solved Project Euler #96 Sudoku problem in Java with various optimizations such as using
          BufferedReader over Scanner, byte arrays instead of character arrays, bit shifting, and more with JProfiler
          monitoring; In addition, we hardcoded the Sudoku puzzle visually in terminal using Unicode character sequences
          in Java</li>
      </ul>
    </li>
    <li><strong>Applied Machine Learning</strong></li>
    <li><strong>Artificial Intelligence</strong></li>
    <li><strong>Programming Languages and Translators</strong></li>
    <li><strong>Competitive Programming</strong></li>
    <li><strong>Intro to Database Systems</strong></li>
    <li><strong>Machine Learning for Finance</strong></li>
    <li><strong>Data Structures in Java</strong></li>
    <li><strong>Advanced Programming</strong></li>
    <li><strong>Computer Science Theory</strong></li>
    ...
  </ul>
  <h2>Franklin & Marshall College <br>(B.A. in Mathematics)</h2>
  <h3>Some coursework include</h3>
  <ul>
    <li><strong>Linear Algebra and Differential Equations</strong></li>
    <li><strong>Advanced Linear Algebra</strong></li>
    <li><strong>Discrete Mathematics</strong></li>
    <li><strong>Probability and Statistics</strong></li>
    <li><strong>Abstract Algebra</strong></li>
    <li><strong>Stochastic Processes</strong></li>
    <li><strong>Symbolic Logic</strong></li>
    ...
  </ul>
  <h2>Phillips Academy Andover</h2>
  <h3>Extracurricular Activities:</h3>
  <ul>
    <li><strong>Andover Korean Society (AKS) - President:</strong> Organized and led events to promote Korean culture in
      the Andover community, including Korean Awareness Week and the Korean Talent & Fashion Show, which featured
      presentations, food sampling, and traditional performances.</li>
    <li><strong>Astronomy Club - Member (<a href="https://github.com/JasonHJJin/Astronomy">Variable Star
          Search</a>):</strong> Participated in a team that utilized the MPO Canopus photometric analysis program to
      discover variable stars and submit findings to the Variable Star Index (VSX).</li>
    <li><strong>Yorkies - Tenor 2 and Beatboxer (<a href="https://www.youtube.com/@AndoverTheYorkies">Andover's Male
          Acapella Group</a>):</strong> Performed in various on- and off-campus events such as Yorkling, where we
      caroled at student dorms, and Grasshopper Night, an annual student-led showcase for parents, faculty, and peers.
    </li>
    <li><strong>UNICEF Club - Board Member:</strong> Implemented new donation systems for Andover students, organized
      campaigns like UNICEF Trick-OR-Treat fundraiser, and a foursquare tournament, and coordinated a social bazaar to
      collect and send useful items to UNICEF.</li>
  </ul>
  <h2>The Rectory School</h2>
  <h3>Extracurricular Activities:</h3>
  <ul>
    <li><strong>Valedictorian:</strong> Graduated in 2012 with the highest academic average, awarded the
      Goodridge-Barber Academic Cup.</li>
    <li><strong>Tri-Varsity Athlete (Soccer, Basketball, Golf):</strong> Served as team captain in Soccer and Golf, won
      consecutive MVP awards.</li>
    <li><strong>Orchestra - First Violinist:</strong> Performed as the first violinist in the school orchestra, competed
      at regional competition.</li>
    <li><strong>School Newspaper - Writer and Editor:</strong> Contributed articles for the school newspaper.</li>
  </ul>
</div>

{% for post in site.portfolio %}
{% include archive-single.html %}
{% endfor %}